# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg

# VS Code settings
.vscode/

# Pytest
.cache/
*.cover
*.log
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.DS_Store
*.swp
*.bak
*.tmp

# Sensitive data
*.env
