:root {
    --background-linear-gradient: linear-gradient(135deg, rgb(246, 44, 50, .37), rgb(92, 10, 152, .1));
    --linear-gradient: linear-gradient(180deg, #3498db, white);
    --linear-gradient-hover: linear-gradient(180deg, #3498db, white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Prompt', sans-serif
}

body {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(165deg, rgba(246, 44, 50, .37), rgba(92, 10, 152, 0)); */
    background: url('../../public/Img/blue-gradient-blank-background-business_53876-120508.avif');
    background-size: cover;
    /* color: white; */
}

.record-container h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1rem;
}

.record-container form {
    display: flex;
    flex-direction: column;
    /* min-width: 100px; */
    margin: 1rem;
    backdrop-filter: blur(10px);
    background: linear-gradient(165deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    box-shadow: 0 0 32px rgba(0, 0, 0, .37);
    
}

.record-container form div {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: .5rem;
}

.record-container form label{
    /* border: 1px solid white; */
    font-size: 1.5rem;
    height: 2.5rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.record-container form input,
.record-container form select {
    height: 2.5rem; /* Set the same fixed height */
    font-size: 1.5rem; /* Ensure the font size is consistent */
    padding: 0 0.5rem;
    box-sizing: border-box;
    margin-right: 10rem;
    /* width: calc(100% - 10rem); */
}