.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container header {
    position: sticky;
    text-align: center;
    width: 100%;
    height: auto;
    /* background-color: gray; */
    /* border: 1px solid red; */
}

.container header .Header-box {
    height: auto;
    background: linear-gradient(165deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    box-shadow: 0 0 32px rgba(0, 0, 0, .37);
    padding: 1rem;
    z-index: -1;
}

.container header .Header-box h1 {
    font-size: 1rem;
    font-weight: normal;
    text-align: start;
}

.container header .Header-box #button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: black; */
}

.container header .Header-box #button-container div button {
    height: 4rem;
    width: 4rem;
    font-size: 1rem;
    /* background: var(--linear-gradient); */
    border: none;
    background: yellowgreen;
    border-radius: 15px;
    margin: 2px;
    z-index: 0;
    overflow: hidden;
    color: white;
    position: relative;
}

.container header .Header-box #button-container div button:hover {
    background: white;
    color: black;
    z-index: 0;
    cursor: pointer;
}

.container header .Header-box #button-container div button:hover::after {
    /* background: var(--linear-gradient-hover); */
    background: yellowgreen;
    animation: backgroundChange 1s forwards ease-in;
}

.container header .Header-box #button-container div button::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    /* background: var(--linear-gradient); */
    background: #3498db;
    border-radius: 10px;
    z-index: -1;
    left: 0;
    top: 0;
    /* transform: translate(50%, 50%); */
}

@keyframes backgroundChange  {
    0% {
        background: var(--linear-gradient-hover);
        opacity: 0;
    }
    100% {
        background: var(--linear-gradient-hover);
    }
}